annotated-types==0.5.0
anyio==3.7.1
click==8.1.7
et-xmlfile==1.1.0
fastapi==0.103.2
h11==0.14.0
httptools==0.6.0
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
numpy
openpyxl==3.1.2
pandas
pydantic==2.4.2
pydantic_core==2.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
pyxlsb==1.0.10
PyYAML==6.0.1
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.8.0
tzdata==2023.3
guniconrn
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
